<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="All Test Suite">
    <test name="First">


        <parameter name="db" value="SQL"></parameter>

       <groups>
           <run>
               <include name="smokeTest"/>
           </run>
       </groups>



        <classes>
            <class name="smoke.Test1"></class>
            <class name="smoke.Test2"></class>
        </classes>
    </test>


</suite>